@page
@model IndexModel
@{
    ViewData["Title"] = "Customers";
}
@if (@Model.Message != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @Model.Message
    </div>
}
@if (Model.PageCount > 0)
{
    <h1 class="text-start">Customers - Page @Model.CurrentPage of @Model.PageCount</h1>
}
else
{
    <h1 class="text-start">Customers - No result found</h1>
}
<div class="float-right">
    <form class="input-group" method="get">
        <input asp-for="@Model.Search" placeholder="Search" />
        <div class="input-group-append ">
            <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>
<table class="table table-striped w-100">
    <thead>
        <tr>
            <th scope="col">
                Id
                <a asp-page="/Customers/Index" asp-route-search="@Model.Search" asp-route-sortColumn="Id" asp-route-sortOrder="asc" style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/Index" asp-route-search="@Model.Search" asp-route-sortColumn="Id" asp-route-sortOrder="desc" style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                National Id
            </th>
            <th scope="col">
                Name
                <a asp-page="/Customers/Index" asp-route-search="@Model.Search" asp-route-sortColumn="Name" asp-route-sortOrder="asc" style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/Index" asp-route-search="@Model.Search" asp-route-sortColumn="Name" asp-route-sortOrder="desc" style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Country
                <a asp-page="/Customers/Index" asp-route-search="@Model.Search" asp-route-sortColumn="Country" asp-route-sortOrder="asc" style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/Index" asp-route-search="@Model.Search" asp-route-sortColumn="Country" asp-route-sortOrder="desc" style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                City
                <a asp-page="/Customers/Index" asp-route-search="@Model.Search" asp-route-sortColumn="City" asp-route-sortOrder="asc" style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/Index" asp-route-search="@Model.Search" asp-route-sortColumn="City" asp-route-sortOrder="desc" style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Street address
            </th>
            <th scope="col">
                Active
                <a asp-page="/Customers/Index" asp-route-search="@Model.Search" asp-route-sortColumn="Active" asp-route-sortOrder="asc" style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/Index" asp-route-search="@Model.Search" asp-route-sortColumn="Active" asp-route-sortOrder="desc" style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                <a class="btn btn-primary" asp-page="/Customers/New" style="text-decoration:none"><i class="fa-solid fa-user-plus"></i> Add new customer</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.NationalId</td>
                <td>@customer.Name</td>
                <td>@customer.Country</td>
                <td>@customer.City</td>
                <td>@customer.Streetaddress</td>
                <td class="font-weight-bold @(customer.IsActive ? "text-success" : "text-danger")">@customer.IsActive</td>
                <td>
                    <a asp-page="/Customers/Edit" asp-route-customerId="@customer.Id" asp-route-customerName="@customer.Name" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <a asp-page="/Customers/View" asp-route-customerId="@customer.Id" asp-route-customerName="@customer.Name" class="btn btn-primary"><i class="fa-solid fa-eye"></i> View</a>
                </td>
            </tr>
        }
        <tr>
            <td>
                @if (Model.CurrentPage != 1)
                {
                    <a class="btn btn-secondary" asp-page="/Customers/Index"
                       asp-route-search="@Model.Search"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-pageNumber="@(Model.CurrentPage-1)">
                        Prev
                    </a>
                }
            </td>
            <td class="text-center" colspan="5">
                @for (int i = Math.Max(1, Model.CurrentPage - 5); i <= Math.Min(Model.PageCount, Model.CurrentPage + 5); i++)
                {
                    <a class="btn @(Model.CurrentPage == i ? "btn-primary" : "btn-secondary")" asp-page="/Customers/Index"
                       asp-route-search="@Model.Search"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-pageNumber="@i">
                        @i
                    </a>
                }
            </td>

            <td>
                @if (Model.CurrentPage != Model.PageCount && Model.PageCount > 0)
                {
                    <a class="btn btn-secondary float-right" asp-page="/Customers/Index"
                       asp-route-search="@Model.Search"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-pageNumber="@(Model.CurrentPage+1)">
                        Next
                    </a>

                }
            </td>
        </tr>
    </tbody>
</table>