@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<!-- ======= Hero Section ======= -->
<h1 class="mb-4 text-center"><a class="logo">PBank.</a> Lorem ipsum dolor sit amet</h1>
<p class="pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <h2 class="logo text-dark pt-3 text-center">Click any of the four countries to see their top 10 customers!</h2>
        <a class="row justify-content-center" asp-page="/Accounts/Index" asp-route-country="Sweden"><img src="~/images/SE-Sweden-Flag-icon.png" /></a>
        <div class="row text-white justify-content-center">
            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total customers in Sweden<i class="fa-solid fa-users f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>@Model.SwedenCustomers</span></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total Accounts in Sweden<i class="fa fa-credit-card f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>@Model.SwedenAccounts</span></h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total balance in Sweden<i class="fa-solid fa-dollar-sign f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>SEK @Model.SwedenBalance</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <a class="row justify-content-center" asp-page="/Accounts/Index" asp-route-country="Denmark"> <img src="~/images/DK-Denmark-Flag-icon.png" /></a>
        <div class="row text-white justify-content-center">
            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total customers in Denmark<i class="fa-solid fa-users f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>@Model.DenmarkCustomers</span></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total Accounts in Denmark<i class="fa fa-credit-card f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>@Model.DenmarkAccounts</span></h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total balance in Denmark<i class="fa-solid fa-dollar-sign f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>SEK @Model.DenmarkBalance</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <a class="row justify-content-center" asp-page="/Accounts/Index" asp-route-country="Norway"><img src="~/images/NO-Norway-Flag-icon.png" /></a>
        <div class="row text-white justify-content-center">
            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total customers in Norway<i class="fa-solid fa-users f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>@Model.NorwayCustomers</span></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total Accounts in Norway<i class="fa fa-credit-card f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>@Model.NorwayAccounts</span></h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total balance in Norway<i class="fa-solid fa-dollar-sign f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>SEK @Model.NorwayBalance</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <a class="row justify-content-center" asp-page="/Accounts/Index" asp-route-country="Finland"><img src="~/images/FI-Finland-Flag-icon.png" /></a>
        <div class="row text-white justify-content-center">
            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total customers in Finland<i class="fa-solid fa-users f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>@Model.FinlandCustomers</span></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total Accounts in Finland<i class="fa fa-credit-card f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>@Model.FinlandAccounts</span></h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-4">
                <div class="card bg-primary order-card">
                    <div class="card-block">
                        <h6>Total balance in Finland<i class="fa-solid fa-dollar-sign f-right"></i></h6>
                        <h5 class="text-center text-white pt-3"><span>SEK @Model.FinlandBalance</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-2 row justify-content-center flags">
        </div>
    </div>
</section>