@page
@model IndexModel
@{
}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>All Accounts <a href="javascript:history.back()" class="btn btn-primary mt-3 float-right">Back</a></h1>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Account number</th>
                    <th>Balance</th>
                    <th>Country</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var acc in Model.Accounts)
                {
                    <tr>
                        <td>@acc.Id</td>
                        <td>SEK @acc.Balance</td>
                        <td>@acc.Country</td>
                        <td>
                            <a asp-page="Withdraw" asp-route-accountId="@acc.Id" class="btn btn-primary"><i class="fa-solid fa-money-bill-transfer"></i> Withdraw</a>
                        </td>
                        <td>
                            <a asp-page="Deposit" asp-route-accountId="@acc.Id" class="btn btn-primary"><i class="fa-solid fa-money-bill-transfer"></i> Deposit</a>
                        </td>
                        <td>
                            <a asp-page="Manage" asp-route-accountId="@acc.Id" class="btn btn-secondary"><i class="fa-solid fa-eye"></i> Manage</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>